* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 205px;
  background-color: #1f2937;
  color: white;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 15px;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
  transition: color 500ms;
}

a:hover {
  color: aqua;
}

.firstContainer {
  display: flex;
  padding: 75px;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: #1f2937;
  color: white;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 40%;
  gap: 10px;
}

.mainContent button {
  width: 15%;
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 5px;
  border: none;
  padding: 5px;
}

.firstContainer img {
  width: 40%;
  height: auto;
}

h2 {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 20px;
}

.imgsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 75px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: solid red 10px; */
}

.box img {
  width: 300px;
  height: 200px;
  border-radius: 10px;
  border: solid rgb(56, 164, 200) 5px;
}

.box p {
  padding-top: 20px;
  width: 300px;
}

.quoteContainer {
  padding: 155px;
  background-color: lightgray;
  font-size: xx-large;
}

.contactInfo {
  padding: 155px;
  gap: 25px;
  align-items: center;
  justify-content: center;
}

.blue-background {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
  border: red solid 1px;
  background-color: #3882f6;
  color: white;
  padding: 25px 3px 25px 3px;
}

.contactInfo h2 {
  justify-content: flex-start;
}

.contactInfo button {
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 5px;
  border: white 1px solid;
  padding: 1px;
  width: 10%;
}
