* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 205px;
  background-color: #1f2937;
  color: white;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 15px;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
  transition: color 500ms;
}

a:hover {
  color: aqua;
}
